@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
}

button {
    outline: none;
}

:modal {
    @apply p-4;
    @apply rounded-lg;
    @apply transition;
    @apply shadow-lg;
    @apply border-t;
    @apply border-gray-400;
    @apply dark:border-gray-800;
    @apply bg-gray-300;
    @apply dark:bg-gray-900;
    @apply text-gray-900;
    @apply dark:text-gray-300
}

:modal .actions {
    @apply justify-end;
}

#navigator .active {
    @apply text-sky-500;
}

.unauthenticated #navigator {
    @apply text-gray-500;
}

.unauthenticated #navigator a {
    @apply cursor-not-allowed;
}

.unauthenticated #navigator a:first-child,
.unauthenticated #navigator a:last-child {
    @apply cursor-default;
}

#navigator figure {
    @apply h-24;
    @apply items-center;
    @apply flex;
    @apply flex-col;
}

#navigator figcaption {
    @apply whitespace-nowrap;
}
